extends layout

block content
  br
  br
  h1(style={'left':'40%', 'position':'relative'})=title
  br
  br
  input(type='text', name='searchname',style={'width':'500px','height':'21px','left':'28%', 'position':'relative'}, placeholder='Search a cause')
  br
  br
  br
  br
  input(type='button', value='Search',style={'height':'24px','left':'48%','position':'relative'})

